name: Python Lint

on: [push, pull_request]

jobs:
  lint:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.14

    - name: flake8
      uses: py-actions/flake8@v2

    - name: Black
      run: |
        python -m pip install --upgrade pip
        pip install black
        black --check --diff .
