name: Python Lint

on: [push, pull_request]

jobs:
  lint:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: flake8
      uses: py-actions/flake8@v2

    - name: Black
      run: |
        python -m pip install --upgrade pip
        pip install black
        black --check --diff .
